body {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100%;
  width: 100%;
  right: 0;
  background-image: url("./images/26577.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
#search-body {
  padding-top: 50px;
  padding-bottom: 30px;
}
.nav-bar.transparent {
  background: transparent;
}
.search-bar-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
#display-charts {
  width: 100%;
  height: 500px;
}

#footer {
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
#covid-information {
  align-items: center;
  width: 100%;
  padding-bottom: 20px;
}
form.example input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

.label-button {
  color: white;
  font-size: 12pt;
}
/*FOR MAP
*/
#us-map {
  display: block;

  width: 60%;
  height: 60%;
  margin-left: 25%;
}
path:hover,
circle:hover {
  stroke: #002868 !important;
  stroke-width: 2px;
  stroke-linejoin: round;
  fill: #002868 !important;
  cursor: pointer;
}
#path67 {
  fill: none !important;
  stroke: #a9a9a9 !important;
  cursor: default;
}
#info-box {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: #ffffff;
  border: 2px solid #bf0a30;
  border-radius: 5px;
  padding: 5px;
  font-family: arial;
}

@media screen and (max-width: 800px) {
  #container-header,
  #search-body,
  #display-charts,
  #footer {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}
